/* 
.content-box-bookcover {
 max-width: 1000px;
 margin: 0 auto;
 padding-bottom: 3rem;
}

.book-content {
    display: flex;
    gap: 2rem;
}

.book-content img {
    max-height: 500px;
}

.content-title-bookcover {
    padding-bottom: 5rem;
}
 */
