
.content-box-grafic-works {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-bottom: 3rem;
    display: flex;
}
   
.work-content {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.work-content img {
    max-height: 500px;
}

.content-title-bookcover {
    padding-bottom: 5rem;
    text-align: left;
}

img {
    transition: all .5s ease;
}

img:hover {
    transform: scale(1.1);
}

.article-img {
    max-width: 500px;
}

/* Väder app */

.weather-app-box {
    margin-bottom: 0;
    padding-bottom: 0;
    min-height: 50vh !important;
}

.phone-left-sided {
    margin-left:-2rem;
    padding-right: 4rem;
}

.weather-app-box-last {
    margin-bottom: 6rem;
}

.small-screen-image {
    display: none;
}

@media only screen and (max-width: 750px) { 
    .work-content {
        flex-direction: column;
    }

    .work-content section {
        margin: 0 1rem;
        padding-bottom: 3rem;
    }


    .article-img {
        max-width: 100%;
        padding: 0 1rem;
    }

    .work-content-rightsided {
        display: flex;
    }

    .phone-right-sided {
        padding-right: 4rem;
    }

    .small-screen-image {
        display: block;
    }

    .big-screen-image {
        display: none;
    }


}